<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>pod</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="root.css" />
    <link rel="stylesheet" href="base.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="box.css" />
  </head>

  <body>
    <div id="game">
      <div id="ship">
        <div id="deckhead"></div>

        <div id="port">
          <%- include('partials/box', { id: 'bed', w: 6.5, l: 3, h: 5.5 }) %>
        </div>

        <div id="stern">
          <div class="door">door</div>
        </div>

        <div id="starboard">
          <%- include('partials/box', { id: 'lockers', w: 12, l: 3, h: 7 }) %>
        </div>

        <div id="bow">
          <div class="door">door</div>
        </div>

        <div id="deck"></div>
      </div>
    </div>

    <fieldset>
      <input type="radio" name="view" id="view-bow" />
      <label for="view-bow">Bow</label>

      <input type="radio" name="view" id="view-port" />
      <label for="view-port">Port</label>

      <input type="radio" name="view" id="view-stern" checked />
      <label for="view-stern">Stern</label>

      <input type="radio" name="view" id="view-starboard" />
      <label for="view-starboard">Starboard</label>
    </fieldset>
  </body>
</html>
