#game {
  display: grid;
  height: 100vh;
  perspective: 900px;
  place-content: center;
  width: 100vw;
}

#ship {
  height: var(--ship-h);
  transform-style: preserve-3d;
  width: var(--ship-l);
  position: relative;
  transition: transform 1s 0.1s;

  > div {
    background: peachpuff;
    border: 1px solid #fff;
    position: absolute;
    transform-style: preserve-3d;
    transition: opacity 1s 0.1s;
  }

  :has(#view-stern:checked) & {
    transform: rotateY(0deg);
  }

  :has(#view-bow:checked) & {
    transform: rotateY(180deg);
  }

  :has(#view-port:checked) & {
    transform: rotateY(90deg);
  }

  :has(#view-starboard:checked) & {
    transform: rotateY(-90deg);
  }
}

#stern {
  width: var(--ship-l);
  height: var(--ship-h);
  transform: rotateY(180deg) translateZ(calc(var(--ship-w) / -2));

  :has(#view-stern:checked) & {
    opacity: 0;
    visibility: hidden;
  }
}

#bow {
  width: var(--ship-l);
  height: var(--ship-h);
  transform: rotateY(0deg) translateZ(calc(var(--ship-w) / -2));

  :has(#view-bow:checked) & {
    opacity: 0;
    visibility: hidden;
  }
}

#starboard {
  left: calc((var(--ship-l) - var(--ship-w)) / 2);
  width: var(--ship-w);
  height: var(--ship-h);
  transform: rotateY(-90deg) translateZ(calc(var(--ship-l) / -2));

  :has(#view-starboard:checked) & {
    opacity: 0;
    visibility: hidden;
  }
}

#port {
  left: calc((var(--ship-l) - var(--ship-w)) / 2);
  width: var(--ship-w);
  height: var(--ship-h);
  transform: rotateY(90deg) translateZ(calc(var(--ship-l) / -2));

  :has(#view-port:checked) & {
    opacity: 0;
  }
}

#deck {
  top: calc((var(--ship-h) - var(--ship-w)) / 2);
  width: var(--ship-l);
  height: var(--ship-w);
  transform: rotateX(-90deg) translateZ(calc(var(--ship-h) / 2));
}

#deckhead {
  top: calc((var(--ship-h) - var(--ship-w)) / 2);
  width: var(--ship-l);
  height: var(--ship-w);
  transform: rotateX(90deg) translateZ(calc(var(--ship-h) / 2));
}

.door {
  background: black;
  bottom: 0;
  height: calc(6 * var(--ft));
  left: calc((var(--ship-l) - 3 * var(--ft)) / 2);
  position: absolute;
  width: calc(3 * var(--ft));
}
