*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
}

html,
body {
  min-height: 100dvh;
}

fieldset {
  border: 0;
  bottom: 0;
  position: fixed;
}
