*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100dvh;
}

body {
  background: radial-gradient(
    circle,
    color(display-p3 0.0877 0.0796 0.1365),
    color-mix(in display-p3, black 25%, color(display-p3 0.0877 0.0796 0.1365))
  );
  color: white;
}

fieldset {
  border: 0;
  bottom: 0;
  position: fixed;
}
