.room-container {
  display: none;
  height: 100vh;
  inset: 0;
  margin-top: calc(-1 * calc(var(--ft) / 2));
  opacity: 0;
  perspective: 900px;
  place-content: center;
  position: fixed;
  transition: all 1s;
  transition-behavior: allow-discrete;
  width: 100vw;
}

:has(#from-cockpit-to-quarters:checked) #quarters-container,
:has(#from-quarters-to-cockpit:checked) #cockpit-container,
:has(#from-quarters-to-engineering:checked) #engineering-container,
:has(#from-engineering-to-quarters:checked) #quarters-container {
  display: grid;
  opacity: 1;
  transition-delay: 1s;

  @starting-style {
    opacity: 0;
  }
}

/* From cockpit to quarters transitions */

:has(#view-starboard:checked):has(#from-cockpit-to-quarters:checked) {
  #cockpit-container {
    filter: blur(var(--camera-blur));
    transform: translateX(var(--camera-transition-side));
  }

  #quarters-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(calc(-1 * var(--camera-transition-side)));
    }
  }
}

:has(#view-port:checked):has(#from-cockpit-to-quarters:checked) {
  #cockpit-container {
    filter: blur(var(--camera-blur));
    transform: translateX(calc(-1 * var(--camera-transition-side)));
  }

  #quarters-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(var(--camera-transition-side));
    }
  }
}

:has(#view-bow:checked):has(#from-cockpit-to-quarters:checked) {
  #cockpit-container {
    filter: blur(var(--camera-blur));
    transform: scale(calc(1 + var(--camera-transition-face)));
  }

  #quarters-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: scale(calc(1 - var(--camera-transition-face)));
    }
  }
}

/* From quarters to cockpit transitions */

:has(#view-starboard:checked):has(#from-quarters-to-cockpit:checked) {
  #quarters-container {
    filter: blur(var(--camera-blur));
    transform: translateX(calc(-1 * var(--camera-transition-side)));
  }

  #cockpit-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(var(--camera-transition-side));
    }
  }
}

:has(#view-port:checked):has(#from-quarters-to-cockpit:checked) {
  #quarters-container {
    filter: blur(var(--camera-blur));
    transform: translateX(var(--camera-transition-side));
  }

  #cockpit-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(calc(-1 * var(--camera-transition-side)));
    }
  }
}

:has(#view-stern:checked):has(#from-quarters-to-cockpit:checked) {
  #quarters-container {
    filter: blur(var(--camera-blur));
    transform: scale(calc(1 + var(--camera-transition-face)));
  }

  #cockpit-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: scale(calc(1 - var(--camera-transition-face)));
    }
  }
}

/* From quarters to engineering transitions */

:has(#view-starboard:checked):has(#from-quarters-to-engineering:checked) {
  #quarters-container {  filter: blur(var(--camera-blur));
    transform: translateX(var(--camera-transition-side));
  }

  #engineering-container {
    @starting-style {  filter: blur(var(--camera-blur));
      transform: translateX(calc(-1 * var(--camera-transition-side)));
    }
  }
}

:has(#view-port:checked):has(#from-quarters-to-engineering:checked) {
  #quarters-container {  filter: blur(var(--camera-blur));
    transform: translateX(calc(-1 * var(--camera-transition-side)));
  }

  #engineering-container {
    @starting-style {  filter: blur(var(--camera-blur));
      transform: translateX(var(--camera-transition-side));
    }
  }
}

:has(#view-bow:checked):has(#from-quarters-to-engineering:checked) {
  #quarters-container {  filter: blur(var(--camera-blur));
    transform: scale(calc(1 + var(--camera-transition-face)));
  }

  #engineering-container {
    @starting-style {  filter: blur(var(--camera-blur));
      transform: scale(calc(1 - var(--camera-transition-face)));
    }
  }
}

/* From engineering to quarters transitions */

:has(#view-starboard:checked):has(#from-engineering-to-quarters:checked) {
  #engineering-container {
    filter: blur(var(--camera-blur));
    transform: translateX(calc(-1 * var(--camera-transition-side)));
  }

  #quarters-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(var(--camera-transition-side));
    }
  }
}

:has(#view-port:checked):has(#from-engineering-to-quarters:checked) {
  #engineering-container {
    filter: blur(var(--camera-blur));
    transform: translateX(var(--camera-transition-side));
  }

  #quarters-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(calc(-1 * var(--camera-transition-side)));
    }
  }
}

:has(#view-stern:checked):has(#from-engineering-to-quarters:checked) {
  #engineering-container {
    filter: blur(var(--camera-blur));
    transform: scale(calc(1 + var(--camera-transition-face)));
  }

  #quarters-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: scale(calc(1 - var(--camera-transition-face)));
    }
  }
}
