.room-container {
  display: none;
  height: 100vh;
  inset: 0;
  margin-top: calc(-1 * calc(var(--ft) / 2));
  opacity: 0;
  perspective: 900px;
  place-content: center;
  position: fixed;
  transition: all 1s;
  transition-behavior: allow-discrete;
  width: 100vw;
}

:has(#from-cockpit-to-bunk:checked) #bunk-container,
:has(#from-bunk-to-cockpit:checked) #cockpit-container,
:has(#from-bunk-to-reactor:checked) #reactor-container,
:has(#from-reactor-to-bunk:checked) #bunk-container {
  display: grid;
  opacity: 1;
  transition-delay: 1s;

  @starting-style {
    opacity: 0;
  }
}

/* From cockpit to bunk transitions */

:has(#view-starboard:checked):has(#from-cockpit-to-bunk:checked) {
  #cockpit-container {
    filter: blur(var(--camera-blur));
    transform: translateX(var(--camera-transition-side));
  }

  #bunk-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(calc(-1 * var(--camera-transition-side)));
    }
  }
}

:has(#view-port:checked):has(#from-cockpit-to-bunk:checked) {
  #cockpit-container {
    filter: blur(var(--camera-blur));
    transform: translateX(calc(-1 * var(--camera-transition-side)));
  }

  #bunk-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(var(--camera-transition-side));
    }
  }
}

:has(#view-bow:checked):has(#from-cockpit-to-bunk:checked) {
  #cockpit-container {
    filter: blur(var(--camera-blur));
    transform: scale(calc(1 + var(--camera-transition-face)));
  }

  #bunk-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: scale(calc(1 - var(--camera-transition-face)));
    }
  }
}

/* From bunk to cockpit transitions */

:has(#view-starboard:checked):has(#from-bunk-to-cockpit:checked) {
  #bunk-container {
    filter: blur(var(--camera-blur));
    transform: translateX(calc(-1 * var(--camera-transition-side)));
  }

  #cockpit-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(var(--camera-transition-side));
    }
  }
}

:has(#view-port:checked):has(#from-bunk-to-cockpit:checked) {
  #bunk-container {
    filter: blur(var(--camera-blur));
    transform: translateX(var(--camera-transition-side));
  }

  #cockpit-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(calc(-1 * var(--camera-transition-side)));
    }
  }
}

:has(#view-stern:checked):has(#from-bunk-to-cockpit:checked) {
  #bunk-container {
    filter: blur(var(--camera-blur));
    transform: scale(calc(1 + var(--camera-transition-face)));
  }

  #cockpit-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: scale(calc(1 - var(--camera-transition-face)));
    }
  }
}

/* From bunk to reactor transitions */

:has(#view-starboard:checked):has(#from-bunk-to-reactor:checked) {
  #bunk-container {  filter: blur(var(--camera-blur));
    transform: translateX(var(--camera-transition-side));
  }

  #reactor-container {
    @starting-style {  filter: blur(var(--camera-blur));
      transform: translateX(calc(-1 * var(--camera-transition-side)));
    }
  }
}

:has(#view-port:checked):has(#from-bunk-to-reactor:checked) {
  #bunk-container {  filter: blur(var(--camera-blur));
    transform: translateX(calc(-1 * var(--camera-transition-side)));
  }

  #reactor-container {
    @starting-style {  filter: blur(var(--camera-blur));
      transform: translateX(var(--camera-transition-side));
    }
  }
}

:has(#view-bow:checked):has(#from-bunk-to-reactor:checked) {
  #bunk-container {  filter: blur(var(--camera-blur));
    transform: scale(calc(1 + var(--camera-transition-face)));
  }

  #reactor-container {
    @starting-style {  filter: blur(var(--camera-blur));
      transform: scale(calc(1 - var(--camera-transition-face)));
    }
  }
}

/* From reactor to bunk transitions */

:has(#view-starboard:checked):has(#from-reactor-to-bunk:checked) {
  #reactor-container {
    filter: blur(var(--camera-blur));
    transform: translateX(calc(-1 * var(--camera-transition-side)));
  }

  #bunk-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(var(--camera-transition-side));
    }
  }
}

:has(#view-port:checked):has(#from-reactor-to-bunk:checked) {
  #reactor-container {
    filter: blur(var(--camera-blur));
    transform: translateX(var(--camera-transition-side));
  }

  #bunk-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: translateX(calc(-1 * var(--camera-transition-side)));
    }
  }
}

:has(#view-stern:checked):has(#from-reactor-to-bunk:checked) {
  #reactor-container {
    filter: blur(var(--camera-blur));
    transform: scale(calc(1 + var(--camera-transition-face)));
  }

  #bunk-container {
    @starting-style {
      filter: blur(var(--camera-blur));
      transform: scale(calc(1 - var(--camera-transition-face)));
    }
  }
}
