.door {
  background: black;
  backface-visibility: visible;
  bottom: calc(0.25 * var(--ft));
  border: 1px solid var(--cyber-teal);
  border-radius: calc(0.25 * var(--ft));
  box-shadow: 0 0 6px -2px white;
  corner-shape: bevel;
  height: calc(5.5 * var(--ft));
  left: 0;
  pointer-events: auto;
  right: 0;
  position: absolute;
  width: calc(3 * var(--ft));

  &:hover {
    background: white;
  }

  input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  label {
    inset: 0;
    position: absolute;
  }
}

#door-from-cockpit-to-bunk {
  margin: 0 auto;
  transform: translateZ(calc(var(--room-l) / 2));
}

#door-from-bunk-to-cockpit {
  margin: 0 auto;
  transform: translateZ(calc(-1 * calc(var(--room-l) / 2)));
}

#door-from-bunk-to-reactor {
  margin: 0 auto;
  transform: translateZ(calc(var(--room-l) / 2));
}

#door-from-reactor-to-bunk {
  margin: 0 auto;
  transform: translateZ(calc(-1 * calc(var(--room-l) / 2)));
}
