.locker {
  > label {
    display: block;
    pointer-events: auto;
    transform-style: preserve-3d;
  }

  > input:checked + label > .locker-door {
    rotate: y -45deg;
  }

  .locker-door {
    transform-origin: 0 50% calc(var(--l) / -2);
    transition: rotate 0.5s;
  }
}
