.room {
  --w: calc(var(--ft) * attr(w type(<number>)));
  --h: calc(var(--ft) * attr(h type(<number>)));
  --l: calc(var(--ft) * attr(l type(<number>)));

  --wall-thickness: calc(var(--ft) * 0.4);
  --floor-h: calc(var(--ft) * 0.5);

  /* Untarnished room dimensions for wall.css */
  --room-w: var(--w);
  --room-h: var(--h);
  --room-l: var(--l);

  height: var(--h);
  pointer-events: none;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s 0.1s;
  width: var(--w);

  :has(#view-stern:checked) & {
    transform: rotateY(0deg);
  }

  :has(#view-bow:checked) & {
    transform: rotateY(180deg);
  }

  :has(#view-port:checked) & {
    transform: rotateY(90deg);
  }

  :has(#view-starboard:checked) & {
    transform: rotateY(-90deg);
  }
}

.floor {
  --floor-w: calc(var(--room-w) + 2 * var(--wall-thickness));
  --floor-l: calc(var(--room-l) + 2 * var(--wall-thickness));

  bottom: calc(-1 * var(--floor-h));
  height: var(--floor-h);
  left: calc(-1 * var(--wall-thickness));
  pointer-events: none;
  position: absolute;
  transform: translateZ(0);
  transform-style: preserve-3d;
  transition: all 1s 0.1s;
  width: var(--floor-w);

  .face {
    background: var(--corridor-shadow);
    position: absolute;
    transition: all 1s 0.1s;
  }

  /* Face sizing */

  .bow,
  .stern {
    height: var(--floor-h);
    width: 100%;
  }

  .port {
    height: var(--floor-h);
    left: 0;
    width: var(--floor-l);
  }

  .starboard {
    height: var(--floor-h);
    left: calc(100% - var(--floor-l));
    width: var(--floor-l);
  }

  .head {
    height: var(--floor-l);
    top: calc((var(--floor-h) - var(--floor-l)) / 2);
    width: 100%;
  }

  /* Face transforms */

  .bow {
    transform: rotateY(0deg) translateZ(calc(var(--floor-l) / 2));
  }

  .stern {
    transform: rotateY(180deg) translateZ(calc(var(--floor-l) / 2));
  }

  .port {
    transform: rotateY(-90deg) translateZ(calc(var(--floor-l) / 2));
  }

  .starboard {
    transform: rotateY(90deg) translateZ(calc(var(--floor-l) / 2));
  }

  .head {
    transform: rotateX(90deg) translateZ(calc(var(--floor-h) / 2));
  }
}
