#partition .face {
  transition: all 1s 0.1s;

  :has(#view-port:checked) & {
    opacity: 0;
    visibility: hidden;
  }
}

#lockers .face {
  transition: all 1s 0.1s;

  :has(#view-starboard:checked) & {
    opacity: 0;
    visibility: hidden;
  }
}

#console .face {
  transition: all 1s 0.1s;

  :has(#view-bow:checked) & {
    opacity: 0;
    visibility: hidden;
  }
}

#engine .face {
  transition: all 1s 0.1s;

  :has(#view-stern:checked) & {
    opacity: 0;
    visibility: hidden;
  }
}
