#bunk {
  --bunk-w: calc(var(--ft) * attr(w type(<number>)));
  --bunk-h: calc(var(--ft) * attr(h type(<number>)));
  --bunk-l: calc(var(--ft) * attr(l type(<number>)));
}

#cockpit {
  --cockpit-w: calc(var(--ft) * attr(w type(<number>)));
  --cockpit-h: calc(var(--ft) * attr(h type(<number>)));
  --cockpit-l: calc(var(--ft) * attr(l type(<number>)));
}

#reactor {
  --reactor-w: calc(var(--ft) * attr(w type(<number>)));
  --reactor-h: calc(var(--ft) * attr(h type(<number>)));
  --reactor-l: calc(var(--ft) * attr(l type(<number>)));
}

#bed {
  bottom: 0;
  left: 0;
  transform: translateZ(calc(var(--l) / 2 - var(--bunk-l) / 2));

  .face {
    transition: all 1s 0.1s;

    :has(#view-port:checked) & {
      opacity: 0;
      visibility: hidden;
    }
  }
#partition {
  bottom: 0;
  left: 0;
  transform: translateZ(
    calc(var(--l) / 2 - var(--bunk-l) / 2 + 6.5 * var(--ft))
  );
}

#lockers {
  right: 0;
  top: 0;
  transform: translateZ(calc(var(--l) / 2 - var(--bunk-l) / 2));

  .face {
    transition: all 1s 0.1s;

    :has(#view-starboard:checked) & {
      opacity: 0;
      visibility: hidden;
    }
  }
}

#console {
  bottom: 0;
  transform: translateZ(calc(var(--l) / 2 - var(--cockpit-l) / 2));

  .face {
    transition: all 1s 0.1s;

    :has(#view-bow:checked) & {
      opacity: 0;
      visibility: hidden;
    }
  }
}

#console-top {
  bottom: calc(2.5 * var(--ft));
  transform: translateZ(calc(var(--l) / 2 - var(--cockpit-l) / 2));
}

.door {
  background: black;
  bottom: calc(0.25 * var(--ft));
  border: 1px solid var(--cyber-teal);
  border-radius: calc(0.25 * var(--ft));
  box-shadow: 0 0 6px -2px white;
  corner-shape: bevel;
  height: calc(5.5 * var(--ft));
  left: 0;
  right: 0;
  margin: 0 auto;
  pointer-events: auto;
  position: absolute;
  width: calc(3 * var(--ft));

  &:hover {
    background: white;
  }

  input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  label {
    inset: 0;
    position: absolute;
  }
}

#engine {
  bottom: 0;
  transform: translateZ(calc(var(--reactor-l) / 2 - var(--l) / 2));

  .face {
    transition: all 1s 0.1s;

    :has(#view-stern:checked) & {
      opacity: 0;
      visibility: hidden;
    }
  }
}

#bunk-floor,
#cockpit-floor,
#reactor-floor {
  right: 0;
  bottom: calc(-1 * var(--h));
  transform: translateZ(0);
}

#bunk-container,
#cockpit-container,
#reactor-container {
  display: none;
  opacity: 0;
  transform: translateX(0);
  transition: all 1s;
  transition-behavior: allow-discrete;
  height: 100vh;
  perspective: 900px;
  place-content: center;
  width: 100vw;
  margin-top: calc(-1 * calc(var(--ft) / 2));
  position: fixed;
  inset: 0;
}

:has(#from-cockpit-to-bunk:checked) #bunk-container,
:has(#from-bunk-to-cockpit:checked) #cockpit-container,
:has(#from-bunk-to-reactor:checked) #reactor-container,
:has(#from-reactor-to-bunk:checked) #bunk-container {
  display: grid;
  opacity: 1;
  transition-delay: 1s;

  @starting-style {
    opacity: 0;
  }
}

/* From cockpit to bunk transitions */

:has(#view-starboard:checked):has(#from-cockpit-to-bunk:checked) {
  #cockpit-container {
    transform: translateX(50px);
  }

  #bunk-container {
    @starting-style {
      transform: translateX(-50px);
    }
  }
}

:has(#view-port:checked):has(#from-cockpit-to-bunk:checked) {
  #cockpit-container {
    transform: translateX(-50px);
  }

  #bunk-container {
    @starting-style {
      transform: translateX(50px);
    }
  }
}

:has(#view-bow:checked):has(#from-cockpit-to-bunk:checked) {
  #cockpit-container {
    transform: scale(1.1);
  }

  #bunk-container {
    @starting-style {
      transform: scale(0.9);
    }
  }
}

/* From bunk to cockpit transitions */

:has(#view-starboard:checked):has(#from-bunk-to-cockpit:checked) {
  #bunk-container {
    transform: translateX(-50px);
  }

  #cockpit-container {
    @starting-style {
      transform: translateX(50px);
    }
  }
}

:has(#view-port:checked):has(#from-bunk-to-cockpit:checked) {
  #bunk-container {
    transform: translateX(50px);
  }

  #cockpit-container {
    @starting-style {
      transform: translateX(-50px);
    }
  }
}

:has(#view-stern:checked):has(#from-bunk-to-cockpit:checked) {
  #bunk-container {
    transform: scale(1.1);
  }

  #cockpit-container {
    @starting-style {
      transform: scale(0.9);
    }
  }
}

/* From bunk to reactor transitions */

:has(#view-starboard:checked):has(#from-bunk-to-reactor:checked) {
  #bunk-container {
    transform: translateX(50px);
  }

  #reactor-container {
    @starting-style {
      transform: translateX(-50px);
    }
  }
}

:has(#view-port:checked):has(#from-bunk-to-reactor:checked) {
  #bunk-container {
    transform: translateX(-50px);
  }

  #reactor-container {
    @starting-style {
      transform: translateX(50px);
    }
  }
}

:has(#view-bow:checked):has(#from-bunk-to-reactor:checked) {
  #bunk-container {
    transform: scale(1.1);
  }

  #reactor-container {
    @starting-style {
      transform: scale(0.9);
    }
  }
}

/* From reactor to bunk transitions */

:has(#view-starboard:checked):has(#from-reactor-to-bunk:checked) {
  #reactor-container {
    transform: translateX(-50px);
  }

  #bunk-container {
    @starting-style {
      transform: translateX(50px);
    }
  }
}

:has(#view-port:checked):has(#from-reactor-to-bunk:checked) {
  #reactor-container {
    transform: translateX(50px);
  }

  #bunk-container {
    @starting-style {
      transform: translateX(-50px);
    }
  }
}

:has(#view-stern:checked):has(#from-reactor-to-bunk:checked) {
  #reactor-container {
    transform: scale(1.1);
  }

  #bunk-container {
    @starting-style {
      transform: scale(0.9);
    }
  }
}
