#menu {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-weight: 300;
  line-height: 1;
  opacity: 0.65;
  padding: 8px;
  position: fixed;
  right: 24px;
  text-transform: uppercase;
  top: 24px;
  transition: opacity 0.5s;

  &:hover,
  &:focus-visible {
    opacity: 1;
    outline: 0;
  }
}

#gizmo {
  --handle-size: 16px;
  --gap: 8px;

  align-items: center;
  bottom: 100px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(3, var(--handle-size));
  grid-template-rows: repeat(3, var(--handle-size));
  grid-template-areas: ". bow ." "port . starboard" ". stern .";
  left: 100px;
  position: fixed;
  transform: rotateX(55deg);

  input {
    opacity: 0;

    &:focus-visible + label {
      outline: 2px solid white;
    }
  }

  label {
    background: white;
    border-radius: 50%;
    color: transparent;
    display: block;
    height: var(--handle-size);
    overflow: hidden;
    width: var(--handle-size);
  }

  input:checked + label {
    background: red;
  }

  .bow {
    grid-area: bow;
  }

  .port {
    grid-area: port;
  }

  .starboard {
    grid-area: starboard;
  }

  .stern {
    grid-area: stern;
  }
}
