<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>pod</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Set up -->
    <link rel="stylesheet" href="styles/root.css" />
    <link rel="stylesheet" href="styles/fonts.css" />
    <link rel="stylesheet" href="styles/camera.css" />
    <link rel="stylesheet" href="styles/ui.css" />

    <!-- Primitives -->
    <link rel="stylesheet" href="styles/cuboid.css" />
    <link rel="stylesheet" href="styles/surfaces.css" />
    <link rel="stylesheet" href="styles/box.css" />
    <link rel="stylesheet" href="styles/tri.css" />
    <link rel="stylesheet" href="styles/plane.css" />
    <link rel="stylesheet" href="styles/wall.css" />
    <link rel="stylesheet" href="styles/floor.css" />
    <link rel="stylesheet" href="styles/room.css" />

    <!-- Objects -->
    <link rel="stylesheet" href="styles/door.css" />
    <link rel="stylesheet" href="styles/console.css" />
    <link rel="stylesheet" href="styles/locker.css" />
    <link rel="stylesheet" href="styles/reactor.css" />

    <!-- Misc Styles -->
    <link rel="stylesheet" href="styles/styles.css" />
  </head>

  <body>
    <div id="game">
      <%- include("templates/quarters") %>
      <%- include("templates/cockpit") %>
      <%- include("templates/engineering") %>
    </div>

    <button id="menu" class="menu-btn" command="show-modal" commandfor="menu-dialog">
      Menu
    </button>

    <dialog id="menu-dialog">
      <h1>Game options</h1>

      <fieldset>
        <legend>Graphics</legend>
        <label><input type="checkbox" checked switch /><div>Animations</div></label>
        <label><input type="checkbox" checked /><div>Motion Blur</div></label>
        <label><input type="checkbox" /><div>High Contrast</div></label>
        <label><input type="checkbox" checked /><div>Detail</div></label>
        <label><input type="checkbox" checked /><div>Particles</div></label>
      </fieldset>

      <fieldset>
        <legend>JavaScript</legend>
        <label><input type="checkbox" /><div>Enable JavaScript</div></label>
        <p>By enabling JavaScript, you'll have advance sound and progress saving available.</p>
      </fieldset>

      <fieldset disabled>
        <legend>Audio <small>— needs JavaScript</small></legend>
        <label>Music <input type="range" min="0" max="100" value="80" /></label>
        <label
          >Sound Effects <input type="range" min="0" max="100" value="80"
        /></label>
      </fieldset>

      <fieldset disabled>
        <legend>Progress <small>— needs JavaScript</small></legend>
        <label><input type="checkbox" checked />Auto-save</label>
        <button type="button">Reset progress</button>
      </fieldset>

      <button class="menu-btn" command="close" commandfor="menu-dialog">Close</button>
    </dialog>

    <div id="gizmo">
      <div class="heading">
        <span data-for="view-stern">Bow</span>
        <span data-for="view-bow">Stern</span>
        <span data-for="view-port">Starboard</span>
        <span data-for="view-starboard">Port</span>
      </div>

      <div class="control">
        <input type="radio" name="view" id="view-bow" />
        <label for="view-bow">Bow</label>

        <input type="radio" name="view" id="view-port" />
        <label for="view-port">Port</label>

        <input type="radio" name="view" id="view-stern" checked />
        <label for="view-stern">Stern</label>

        <input type="radio" name="view" id="view-starboard" />
        <label for="view-starboard">Starboard</label>
      </div>
    </div>
  </body>
</html>
