<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>pod</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="styles/root.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/box.css" />
    <link rel="stylesheet" href="styles/room.css" />
  </head>

  <body>
    <div id="game">
      <div id="ship" class="room" w="12" l="12" h="7">
        <div class="surface port"></div>
        <%- include("partials/box", { id: "bed", w: 3, l: 6.5, h: 5.5 }) %>

        <div class="surface stern">
          <div class="door">door</div>
        </div>

        <div class="surface starboard"></div>
        <%- include("partials/box", { id: "lockers", w: 3, l: 12, h: 7 }) %>

        <div class="surface bow">
          <div class="door">door</div>
        </div>

        <div class="surface head"></div>
        <div class="surface deck"></div>
      </div>
    </div>

    <fieldset>
      <input type="radio" name="view" id="view-bow" />
      <label for="view-bow">Bow</label>

      <input type="radio" name="view" id="view-port" />
      <label for="view-port">Port</label>

      <input type="radio" name="view" id="view-stern" checked />
      <label for="view-stern">Stern</label>

      <input type="radio" name="view" id="view-starboard" />
      <label for="view-starboard">Starboard</label>
    </fieldset>
  </body>
</html>
