<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>pod</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="styles/root.css" />
    <link rel="stylesheet" href="styles/base.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/box.css" />
    <link rel="stylesheet" href="styles/door.css" />
    <link rel="stylesheet" href="styles/gizmo.css" />
    <link rel="stylesheet" href="styles/tri.css" />
    <link rel="stylesheet" href="styles/room.css" />
    <link rel="stylesheet" href="styles/rooms.css" />
  </head>

  <body>
    <div id="game">
      <%- include("partials/room-bunk") %>
      <%- include("partials/room-cockpit") %>
      <%- include("partials/room-reactor") %>
    </div>

    <div id="gizmo">
      <div class="bow">
        <input type="radio" name="view" id="view-bow" />
        <label for="view-bow">Bow</label>
      </div>

      <div class="port">
        <input type="radio" name="view" id="view-port" />
        <label for="view-port">Port</label>
      </div>

      <div class="stern">
        <input type="radio" name="view" id="view-stern" checked />
        <label for="view-stern">Stern</label>
      </div>

      <div class="starboard">
        <input type="radio" name="view" id="view-starboard" />
        <label for="view-starboard">Starboard</label>
      </div>
    </div>
  </body>
</html>
